
<div class="page">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Buttons</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <button class="btn btn-flat btn-w-md" ui-wave>Default</button><div class="divider"></div>
                            <button class="btn btn-flat btn-w-md btn-primary" ui-wave>Primary</button><div class="divider"></div>
                            <button class="btn btn-flat btn-w-md btn-secondary" ui-wave>Secondary</button><div class="divider"></div>
                            <button class="btn btn-flat btn-w-md btn-secondary" ui-wave><span class="glyphicon glyphicon-headphones"></span> Headphones</button><div class="divider"></div>
                            <button class="btn btn-flat btn-w-md" disabled ui-wave>Disabled</button>
                            <div class="panel-label">Flat</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <button class="btn btn-raised btn-w-md btn-default" ui-wave>Default</button><div class="divider"></div>
                            <button class="btn btn-raised btn-w-md btn-primary" ui-wave>Primary</button><div class="divider"></div>
                            <button class="btn btn-raised btn-w-md btn-secondary" ui-wave>Secondary</button><div class="divider"></div>
                            <button class="btn btn-raised btn-w-md btn-secondary" ui-wave><span class="glyphicon glyphicon-headphones"></span> Headphones</button><div class="divider"></div>
                            <button class="btn btn-raised btn-w-md" disabled>Disabled</button>
                            <div class="panel-label">Raised</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <button class="btn btn-icon btn-icon-round btn-floating btn-default btn-icon-md" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button><div class="divider"></div>
                            <button class="btn btn-icon btn-icon-round btn-floating btn-primary btn-icon-md" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button><div class="divider"></div>
                            <button class="btn btn-icon btn-icon-round btn-floating btn-secondary btn-icon-md" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button><div class="divider"></div>
                            <button class="btn btn-icon btn-icon-round btn-floating btn-icon-md" disabled ui-wave><span class="glyphicon glyphicon-paperclip"></span></button>
                            <div class="panel-label">Floating</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Buttons Variables</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <button type="button" class="btn btn-raised btn-default btn-w-xs" ui-wave>xs</button><div class="divider"></div>
                            <button type="button" class="btn btn-raised btn-primary btn-w-sm" ui-wave>small</button><div class="divider"></div>
                            <button type="button" class="btn btn-raised btn-secondary btn-w-md" ui-wave>middle</button><div class="divider"></div>
                            <button type="button" class="btn btn-raised btn-secondary btn-w-lg" ui-wave>large</button><div class="divider"></div>
                            <div class="panel-label">Width</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <button class="btn btn-raised btn-xs btn-default" ui-wave>Default</button><div class="divider"></div>
                            <button class="btn btn-raised btn-sm btn-primary" ui-wave>Primary</button><div class="divider"></div>
                            <button class="btn btn-raised btn btn-secondary" ui-wave>Secondary</button><div class="divider"></div>
                            <button class="btn btn-raised btn-lg btn-secondary" ui-wave><span class="glyphicon glyphicon-headphones"></span> Headphones</button><div class="divider"></div>
                            <div class="panel-label">Sizes</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <div class="divider"></div>
                            <p>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-default btn-icon-sm" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button> <span class="space"></span>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-primary " ui-wave><span class="glyphicon glyphicon-paperclip"></span></button> <span class="space"></span>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-secondary btn-icon-md" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-primary btn-icon-lg" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button>
                            </p>
                            <div class="divider divider-lg"></div>
                            <p>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-default btn-icon-lg" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button> <span class="space"></span>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-primary btn-icon-md" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button> <span class="space"></span>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-secondary" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button>
                                <button class="btn btn-icon btn-icon-round btn-floating btn-primary btn-icon-sm" ui-wave><span class="glyphicon glyphicon-paperclip"></span></button>                                
                            </p>
                            <div class="divider"></div>
                            <div class="panel-label">Floating</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <button ui-wave type="button" class="btn btn-raised btn-default btn-w-lg">xs</button><div class="divider"></div>
                            <button ui-wave type="button" class="btn btn-raised btn-primary btn-w-lg">small</button><div class="divider"></div>
                            <button ui-wave type="button" class="btn btn-raised btn-success btn-w-lg">small</button><div class="divider"></div>
                            <button ui-wave type="button" class="btn btn-raised btn-info btn-w-lg">middle</button><div class="divider"></div>
                            <button ui-wave type="button" class="btn btn-raised btn-warning btn-w-lg">large</button><div class="divider"></div>
                            <button ui-wave type="button" class="btn btn-raised btn-danger btn-w-lg">large</button><div class="divider"></div>
                            <button ui-wave type="button" class="btn btn-raised btn-dark btn-w-lg">large</button><div class="divider"></div>
                            <div class="panel-label">Colors</div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">

                            <div class="divider"></div>
                            <div class="btn-group" dropdown is-open="status.isopen1">
                                <button ui-wave type="button" class="btn btn-raised btn-w-lg btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled"> Action <span class="caret"></span> </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:;">Action</a></li>
                                    <li><a href="javascript:;">Another action</a></li>
                                    <li><a href="javascript:;">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">Separated link</a></li>
                                </ul>
                            </div>
                            <div class="divider"></div>
                            <div class="btn-group" dropdown is-open="status.isopen2">
                                <button ui-wave type="button" class="btn btn-raised btn-w-lg btn-info dropdown-toggle" dropdown-toggle ng-disabled="disabled"> Action <span class="caret"></span> </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:;">Action</a></li>
                                    <li><a href="javascript:;">Another action</a></li>
                                    <li><a href="javascript:;">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">Separated link</a></li>
                                </ul>
                            </div>

                            <div class="divider divider-dashed"></div>
                            <div class="btn-group btn-raised" dropdown is-open="status.isopen3">
                                <button ui-wave type="button" class="btn btn-w-md btn-success"> Action</button>
                                <button ui-wave type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:;">Action</a></li>
                                    <li><a href="javascript:;">Another action</a></li>
                                    <li><a href="javascript:;">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">Separated link</a></li>
                                </ul>
                            </div>
                            <div class="divider"></div>
                            <div class="btn-group btn-raised" dropdown is-open="status.isopen4">
                                <button ui-wave type="button" class="btn btn-w-md btn-danger"> Action</button>
                                <button ui-wave type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:;">Action</a></li>
                                    <li><a href="javascript:;">Another action</a></li>
                                    <li><a href="javascript:;">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">Separated link</a></li>
                                </ul>
                            </div>

                            <div class="divider divider-dashed"></div>
                            <div class="btn-group btn-raised dropup" dropdown is-open="status.isopen11">
                                <button ui-wave type="button" class="btn btn-w-md btn-dark">Left Dropup</button>
                                <button ui-wave type="button" class="btn btn-dark dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">Action</a></li>
                                    <li><a href="javascript:;">Another action</a></li>
                                    <li><a href="javascript:;">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">Separated link</a></li>
                                </ul>
                            </div>
                            <div class="divider"></div>
                            <div class="btn-group btn-raised dropup" dropdown is-open="status.isopen12">
                                <button ui-wave type="button" class="btn btn btn-w-md btn-primary">Right Dropup</button>
                                <button ui-wave type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:;">Action</a></li>
                                    <li><a href="javascript:;">Another action</a></li>
                                    <li><a href="javascript:;">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:;">Separated link</a></li>
                                </ul>
                            </div>
                          
                            <div class="panel-label">Dropdowns</div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-labeled">
                        <div class="panel-body text-center">
                            <p>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-google-plus"><i class="fa fa-google"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
                            </p>
                            <p>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-rss"><i class="fa fa-rss"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-tumblr"><i class="fa fa-tumblr"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </p>
                            <p>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-youtube"><i class="fa fa-youtube"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-github"><i class="fa fa-github"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-sm btn-skype"><i class="fa fa-skype"></i></a>
                            </p> 
                            <div class="divider divider-lg"></div>
                            <p>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-google-plus"><i class="fa fa-google"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
                            </p>
                            <p>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-rss"><i class="fa fa-rss"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-tumblr"><i class="fa fa-tumblr"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </p>
                            <p>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-youtube"><i class="fa fa-youtube"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-github"><i class="fa fa-github"></i></a>
                                <a ui-wave href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-skype"><i class="fa fa-skype"></i></a>
                            </p>   
                            <div class="panel-label">Social icons</div>
                        </div>
                    </div>                    
                </div>
            </div>

        </div>
    </div>

</div>
